[settings]
group_by_package=True
include_trailing_comma = true
combine_as_imports = false
multi_line_output = 3
line_length = 79
lines_after_imports = 2
lines_between_sections = 1
skip = __init__.py
sections = FUTURE, STDLIB, THIRDPARTY, FIRSTPARTY, LOCALFOLDER
